#init{
    width: 100%;
    height: 100%;
}

.above-side {
    display:flex;
    flex-direction: row;
}


.left-side {
    border-right: 2px solid #bdbdbd;
    padding-right: 10px;
    width: 50%;
}

.right-side {
    width: 50%;
}

#game-title {
    margin-top: 50px;
    padding-left: 220px
}

.left-side p {
    text-align: right;
    padding-right: 150px;
}

#register-text-button {
    text-decoration-line: underline;
    color: red;
    cursor: pointer;

}

#login-form{
    margin-left: 50px;
    margin-top: 20px;
}


.btn {
    margin-left: 110px;
    cursor: pointer;
}

.welcome {
    margin-top: 120px;
    margin-left: 50px;
    font-size: 22px;
}

.below-side h4 {
    text-align: center;
    margin-top: 40px;
}

#tutorial1 {
    margin-left: 295px;
}

#tutorial2 {
    margin-left: 15px;
}


#text-tutorial {
    text-decoration-line: underline;
    color: red;
    cursor: pointer;
}

.nickname-wrapper {
    margin-bottom: 18px;
}

.password-wrapper{
    margin-bottom: 18px;
}

.error {
    color: red
}

.tutorial{
    display: flex;


}

#tutorial-text1 {
    padding-left: 420px;
    font-weight: bold;
    margin-bottom: 5px;
}

#tutorial-text2{
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
}

.tutorial-left {
    width: 50%; 
}